body {
    width: 1920px;
    height: 1150px;
    background-color: black;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer {
    width: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 424.53px;
    left: 1715.89px
}

header h1 {
    font-family: 'Inter', sans-serif;
}

footer img{
    position: relative;
    top: 25px
    
}

#cajafooter{
    width: 130x;
    height: 33.835px;
    background-color: #FFFD38;
}

#caja-rosa{
    width: 781px;
    height: 55px;
    flex-shrink: 0;
    background-color:#FD1EBD;
    margin-top: 71px;
    margin-bottom: 48px;
}

#caja-amarilla {
    width: 643px;
    height: 55px;
    flex-shrink: 0;
    background-color: #FFFD38;
}

#doublebox{
    display: flex;
    width: 1200px;
}


#contenedor-uipractice {
    width: 725px;
    height: 746px;
    flex-shrink: 0;
    margin-left: 61px;
    border-left: 1px solid white;
    padding-left: 71px;
}


#contenedor-uipractice h1 {
    color: rgba(255, 255, 255, 0.30);
    font-family: Inter;
    font-size: 50.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#contenedor-uipractice span {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 289.846px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom: 65px;
}

#autor {
    color: #FFFD38;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

#contenedor-autor{
    display: flex;
    position: relative;
    bottom: 115px;
}

#container4{
    width:220px;
    height: 426px;
    display: flex;
    position: relative;
    right: 245px;
    top: 45px;
}

#numero4{
    color: #FFF;
    font-family: 'Sevilla', sans-serif;
    font-size: 225px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#designers{
    display: flex;
    width: 655px;
    position: relative;
    left: 720px;
    bottom: 500px
}

#newbies{
color: rgba(255, 255, 255, 0.80);
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left: 140px;
top: 95px
}

#h2designers{
color: #FFF;
font-family: 'Sevilla', sans-serif;
font-size: 163.445px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.h2-contenedor-ui {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 163.445px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 115px;    
}

.designed {
    display: flex;
    position: relative;
    bottom: 115px;
    margin-top: 19px ;
    margin-bottom: 45px ;   
}

.designed h2 {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 43.493px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.designed img {
    width: 55px;
    height: 55px;
    margin-left: 17px;;
}